<div class="row">
                <div class="col-lg-12">
                  <div style="margin-top: 40px;">
                     <%= link_to 'Novo Cliente', new_customer_path, :class => "btn btn-default pull-right" %> 
                  </div>
                    <h1 class="page-header">Clientes</h1>

                </div>
                <!-- /.col-lg-12 -->
</div>
<p id="notice"><%= notice %></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Email</th>
      <th>Phone1</th>
      <th>Phone2</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= customer.cpf %></td>
        <td><%= customer.email %></td>
        <td><%= customer.phone1 %></td>
        <td><%= customer.phone2 %></td>
        <td>
        <%= link_to customer, :class => "btn btn-default" do %>
          <i class="fa fa-eye fa-fw"></i>
        <% end %>
        <%= link_to edit_customer_path(customer),:class => "btn btn-default" do %>
          <i class="fa fa-pencil fa-fw"></i>
        <% end %>
        <%= link_to customer, method: :delete, data: { confirm: 'Are you sure?' },:class => "btn btn-default" do %>
        <i class="fa fa-close fa-fw"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
